application:
    image: tianon/true
    volumes:
        - ./symfony:/var/www/symfony
        - ./logs/symfony:/var/www/symfony/app/logs
        - ./data/mysql:/var/lib/mysql

db:
    image: mysql
    environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: symfony
        MYSQL_USER: symfony
        MYSQL_PASSWORD: symfonypassword
    volumes_from:
        - application

php:
    build: php
    expose:
        - 9000/tcp
    volumes_from:
        - application
    links:
        - db
    working_dir: /var/www/symfony

nginx:
    build: nginx
    ports:
        - 80
    links:
        - php
    volumes_from:
        - application
    volumes:
        - ./logs/nginx/:/var/log/nginx
    environment:
        VIRTUAL_HOST: vote.lachouettecoop.local
