html{
    position: relative;
    min-height: 100%;
}
html,
body {
    height: 100%;
    min-height: 100%
        /* The html and body elements cannot have any padding or margin. */
}
body {
    background-color: #f1f1f1;
    background-repeat: repeat-x;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #373737;
}
.header {
    background-image: url(../images/fond_centre.png);
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
}

@font-face{
    font-family: sortsmillgoudy;
    src:url(../fonts/SortsMillGoudy-Italic.ttf);   
}
@font-face{
    font-family: opensans;
    src:url(../fonts/OpenSans-Regular.ttf);   
}
@font-face{
    font-family: opensansbold;
    src:url(../fonts/OpenSans-Bold.ttf);   
}
@font-face{
    font-family: opensanssemibold;
    src:url(../fonts/OpenSans-Semibold.ttf);   
}
@font-face{
    font-family: krinkes;
    src:url(../fonts/KrinkesDecorPERSONAL.ttf);   
}
@font-face{
    font-family: glyphicon;
    src:url(../fonts/glyphicons-halflings-regular.ttf);   
}
.center{ text-align: center; }
.right{ text-align: right; }
.justify{ text-align: justify; }

.card {
    margin: 10px 0;
    border: 0;
    padding: 20px 40px;
    min-height: 50px;
    color: #3c4048;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.top-buffer { margin-top:20px; }
.left-buffer { margin-left: 30px; }
.small-buffer { margin-top:10px; }
.bottom-buffer { margin-bottom:50px; }
.top-buffer-50 { margin-top:60px; }
.left-margin { margin-left: -15px; }
.valign {
    font-size: 0;
}
.valign > [class*="col"] {
    display: inline-block;
    float: none;
    font-size: 14px;
    font-size: 1.5rem;
    vertical-align: middle;
}

.titleBig { font-family: arial, serif; line-height: 1.5; margin: 0 0 0px; font-size: 30px; margin-bottom: 20px; }
h1 {  font-family: arial, serif; line-height: 1.25; margin: 0 0 0px; font-size: 22px; }
h2 {  font-family: arial, serif; line-height: 1.25; margin: 0 0 0px; font-size: 18px; color: #c0392b; margin-bottom: 15px;}
h3 {  font-family: opensans, serif; line-height: 1.25; margin: 0 0 0px; font-size: 16px; color: #212121; margin-bottom: 10px; }
h1.slogan {  font-family: krinkes, serif; line-height: 1.25; margin: 0 0 0px; font-size: 30px; color: #34495e;}


/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    color: #fff;
    font-size: 14px;
    height: 200px;
    box-shadow: inset 0px 1px 5px 1px rgba(15, 15, 15, 0.28);
    -moz-box-shadow: inset 0px 1px 5px 1px rgba(15, 15, 15, 0.28);
    -webkit-box-shadow: inset 0px 1px 5px 1px rgba(15, 15, 15, 0.28);

}
#footer {
    bottom: 0;
    width: 100%;
    background-color: #353535;
    height: auto;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li{
    display: inline;
    margin:0px 10px;
}
a.whiteLink{
    color: white;
    cursor: pointer;
}
a.whiteLink:hover{
    color: white;
    text-decoration: underline;
}
a.whiteLink:visited {
    color: white;
}
.navbar-brand {
    font-family: "sortsmillgoudy","Arial","Helvetica",sans-serif;
    font-size: 26px;
    font-weight: 700;
}
.navbar {
    min-height: 80px;
    padding: 14px 0 0;
}
.navbar-nav-fancy > li:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    content: "";
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -moz-transform: translatex(0%) translatey(-50%);
    -ms-transform: translatex(0%) translatey(-50%);
    -o-transform: translatex(0%) translatey(-50%);
    -webkit-transform: translatex(0%) translatey(-50%);
    transform: translatex(0%) translatey(-50%);
    color: #2c3e50;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: none repeat scroll 0 0 #262626;
}

.navbar-nav-fancy > li:hover:before {
    height: 80%;
}

.navbar-nav.navbar-right:last-child {
    margin-top: -2px;
    margin-right: 0;
}
.navbar-inverse {
    background-color: #333333;
    border-color: #080808;
}

.breadcrumb-line {
    margin: 0 0 35px;
    border-radius: 4px;
    background-color: #e1e5eb;
}
.breadcrumb {
    float: left;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.breadcrumb-buttons {
    font-size: 0;
    position: relative;
    display: block;
    float: right;
    margin: 0;
    padding-left: 15px;
    list-style: none outside none;
    border-left: 1px solid #eee;
    border-radius: 0 4px 4px 0;
    background: none repeat scroll 0 0 #c8d2d8;
}

.breadcrumb-buttons > li {
    font-size: 12px;
    position: relative;
    display: block;
}

.breadcrumb .icon,
.breadcrumb-buttons .icon {
    font-size: 18px;
    vertical-align: text-bottom;
}

.breadcrumb-buttons li a {
    line-height: 41px;
    position: relative;
    margin-right: 15px;
    transition: none 0s ease 0s;
    text-decoration: none;
}

.breadcrumb li a {
    line-height: 41px;
    position: relative;
    display: inline-block;
    /* height: 40px; */
    -moz-transition: none 0s ease 0s;
    -o-transition: none 0s ease 0s;
    -webkit-transition: none 0s ease 0s;
    transition: none 0s ease 0s;
    text-align: center;
    text-decoration: none
}

.breadcrumb li:first-child a {
    padding: 0 15px 0;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    background: #c8d2d8
}

.breadcrumb .icon {
    font-size: 18px;
}

.breadcrumb > li + li:before {
    font-family: glyphicon;
    content: "\E258";
}
.breadcrumb li:last-child a {
    font-weight: 700;
    color: #888;
}
.headMainTopic {
    margin: 10px 0;
    border: 0;
    padding: 10px 20px;
    font-family: opensansbold;
    color: #fff;
    background: #34495e;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.noMargin{
    margin: 0px 0px;
}
.pending-color{ background-color: #16a085;}

/* ***** Sortable List */
ul.listSort {
    list-style: decimal;
}
ul.listSortChoix {
    list-style: none;
}
.block__list {
    min-height: 60px;
    padding: 20px 40px;
    margin-top: -8px;
    margin-left: 5px;
    background-color: #fff;
}
.block__list-title {
    margin: -20px 0 0;
    padding: 10px;
    text-align: center;
    background: #5F9EDF;
}
.block__list li { cursor: move; }

.block__list_words li {
    background-color: #fff;
    padding: 10px 20px;
}
.block__list_words .sortable-ghost {
    opacity: 0.4;
    background-color: #F4E2C9;
}

.block__list_words li:first-letter {
    text-transform: uppercase;
}
.block__list_tags {
    padding-left: 30px;
}

.block__list_tags:after {
    clear: both;
    content: '';
    display: block;
}
.block__list_tags li {
    color: #fff;
    float: left;
    margin: 8px 20px 10px 0;
    padding: 5px 10px;
    min-width: 10px;
    background-color: #5F9EDF;
    text-align: center;
}
.block__list_tags li:first-child:first-letter {
    text-transform: uppercase;
}
.title {
    color: #fff;
    padding: 3px 10px;
    display: inline-block;
    position: relative;
    background-color: #FF7373;
    z-index: 1000;
}
.title_xl {
    padding: 3px 15px;
    font-size: 40px;
}



.tile {
    width: 22%;
    min-width: 245px;
    color: #FF7270;
    padding: 10px 30px;
    text-align: center;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 30px;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
}
.tile__name {
    cursor: move;
    padding-bottom: 10px;
    border-bottom: 1px solid #FF7373;
}

.tile__list {
    margin-top: 10px;
}
.tile__list:last-child {
    margin-right: 0;
    min-height: 80px;
}

.tile__list img {
    cursor: move;
    margin: 10px;
    border-radius: 100%;
}
